<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li> <%= task.title %></li>
    <li><%= link_to "Get to task", task_path(task) %></li>
    <%= link_to "Delete",
  task_path(task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</ul>
